.idea/
.vscode/
.DS_Store

*.env

package-lock.json
node_modules/
coverage/
dist/
build/


**/*.js
!.eslintrc.js
!.prettierrc.js
!jest.config.js


sdk/
.docker*/
openapi.json
*docker-compose.yaml

temp/
test-outputs/